body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

/* Formatage du texte */
h1 {
    font-size: xx-large;
    text-align: center;
}

h2 {
    font-size: large;
    text-align: center;
}

p, li {
    font-size: medium;
    text-align: justify;
}

/* Hyper Lien */
a {
  color: #00B7FF;
}


/* Header */
#header {
  background-color: #D3D3D3;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Header + Nav */
#top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 6;
}

/* Barre de navigation */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}
#nav li {
    float: left;
}
#nav li a {
    display: block;
    color: #9fdbe7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #808080;
}

.colored_nav {
    background-color: #7f7f7f;
}

/* main de la page d'accueil */
#mainhome {
  position: relative;
  top: 30px;
  margin-bottom: 40px;
}
/* main des autres pages */
#main {
  position: relative;
  top: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Image de la page d'accueil */
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin: auto;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}

/* Le footer */
#footer {
  background-color: #5b5b5b;
  opacity: 0.95;
  color: #c4c4c4;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
#footer > p {
  font-size: 10px;
  display: block;
  margin-left: 10px;
}


.flexblock {
    display: flex;
}

#examen {
    background-color: red;
}

.stats {
    background-color: #BBE9F0;
    padding : 10px;
    border: 10px solid #14545E;
    margin: 5%;
    border-radius : 10px;
}

#results:target {
    display: block;
}

/* Affichage du détails des résultats en pop up */
#results{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popup{
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    position: relative;
    margin: 5% auto;
    width: 40%;
    height: 70%;
    overflow: scroll;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}

img.close_pic {
    float: right;
    margin: -20px -20px 0 0;
}

/* Image flotante dans la page instructions */
#image_instr {
    float: right;
}

#instructions {
    width: 60%;
}

.questions {
    width: 60%;

}

/* Le titre de la page d'accueil */
h1#home {
  color: #5b5b5b;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 58px;
  margin: 20px auto 10px auto;
  width: auto;
}

/* "Start button" dans la page d'accueil */
div#startbutton {
  width: 80%;
  margin: auto;
  margin: 20px auto;

}
div#startbutton > .button {
  width: auto;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
