extends layout

block content

    // Launch an exam
    div.flexblock
        div.box#exams
            section#examen
              h1 Lancer un examen officiel
              form(action='examination')
                p
                  i Remplissez les champs ci-dessous
                label(for='field') Domaine
                select#fieldinput(name='field')
                  option(value='html') HTML
                  option(value='css') CSS
                  option(value='javascript') JavaScript
                br
                label(for='nbquestion') Nombre de questions
                input#nbquestioninput(type='number', name='nbquestion', value='5', min='1', max='10', required='')
                br
                input.button#commencerexamen(type='submit', value='Commencer')

            // Launch a fast test
            aside#fasttest
              form(action='fastTest')
                p
                  input#fasttestbutton.button(type='submit', value='Effectuer un test rapide')
        // Results preview
        article.box#stats
          h1 Statistiques
          // Fast tests results
          section.section0
            h2 Tests rapides
            ul
              li
                strong
                    span.nb_fasttest_reussis 0
                |  tests rapides réussis
              li
                strong
                    span.nb_fasttest_effectues 0
                |  tests rapides effectués
          // Exams results preview
          section.section0
            h2 Examens officiels
            ul
              li.tauxexamphrase
                strong.tauxexam 
                | de réussite pour les examens effectués
              li
                strong 
                   span.nb_exam_effectues 0
                |  examens officiels effectués
              li
                strong
                    span.nb_exam_abandonnes 0
                |  examens officiels abandonnés
          section.flex
            form(action='#results')
                p#details
                  input.button(type='submit', value='Details')
            form(action='')
                p#remiseazero
                  input.button(type='submit', value='Remise à zéro')
    article#results
        div.popup
            a(href='#nowhere')
                img(src='/images/close.png', alt='Fermer', title='Fermer la fenêtre').close_pic
            h1 Résultats
            section
                h2 HTML
                table#htmlresults
                    tr
                        td
                            strong Note
                        td
                            strong Date
                        td
                            strong Heure
            section
                h2 CSS
                table#cssresults
                    tr
                        td
                            strong Note
                        td
                            strong Date
                        td
                            strong Heure
            section
                h2 JavaScript
                table#javascriptresults
                    tr
                        td
                            strong Note
                        td
                            strong Date
                        td
                            strong Heure
