extends layout

block content
    header.flexblock
        div.question.box
            h1 Examen
            p
                i Répondez à la question et appuyez sur "Suivant" pour passer à la prochaine question.
            block content
            section.note
                p
                    strong Note courante : #{note_courante}
            section
                p
                    a.button(href='dashboard') Abandonner l'examen
                p.abandon Si vous abandonnez, la note 0 vous sera attribuée.
        article.box#stats
            h1 Statistiques
            // Fast tests results
            section.section0
                h2 Tests rapides
                ul
                    li
                        strong 8
                        |  tests rapides réussis
                    li
                        strong 12
                        |  tests rapides effectués
            // Exams results preview
            section.section0
                h2 Examens officiels
                ul
                    li
                        | Votre moyenne pour les examens est de :
                        strong 15.2/20
                    li
                        strong 6
                        |  examens officiels effectués
