extends examtemplate

block content
    section.question0
      p
          Strong Question&nbsp
              span#idquestion
              |/
              span#nombrequestion
              |&nbsp[
              span#domaine
              |] :
          br
          span#enonce
    section.answer
        p Glisser-Déposer la réponse dans la case ci-dessous :
        div#chosenAnswerBox
            div#chosenAnswer(ondrop='drop(event)', ondragover='allowDrop(event)')
                img#drag_and_drop(src='/images/drag_and_drop.png', alt='Drag and drop')
        button#nextquestionexam.button Valider
