extends examtemplate

block content
    section.question0
      p
          Strong Question&nbsp
              span#idquestion
              |/
              span#nombrequestion
              |&nbsp[
              span#domaine
              |] :
          br
          span#enonce
    section.answer
        button#nextquestionexam.button Valider
