extends fasttesttemplate

block content
    section.question0
        p
                strong Question n°
                    span#idquestion
                    |&nbsp(
                    span#domaine
                    |) :
                br
                span#enonce
    section.answer
        button.button#validerfasttest Valider
