extends layout

block content
    header.flexblock
        div.question
            h1 Test rapide
            p
                i Répondez à la question et appuyez sur "Suivant" pour passer à la prochaine question. À tout moment vous pouvez arrêter et revenir sur le tableau de bord en cliquant sur le lien "Tableau de bord".
            block content
            section
                p 
                    strong Note courante : #{note_courante}
            section
                p
                    a.button(href='dashboard') Tableau de bord
        article.stats
          h1 Statistiques
          // Fast tests results
          section
            h2 Tests rapides
            ul
              li
                strong 8
                |  tests rapides réussis
              li
                strong 12
                |  tests rapides effectués
          // Exams results preview
          section
            h2 Examens officiels
            ul
              li
                | Votre moyenne pour les examens est de : 
                strong 15.2/20
              li
                strong 6
                |  examens officiels effectués