extends layout

block content
    p#image_instr
       img(src='/images/instructions.png', alt='Illustration insctructions')
    article#instructions
        h1 Manuel d'utilisation
        section
            h2 Page d'accueil
            p
                | La page d'accueil du site contient une brève description du site ainsi qu'un
                | formulaire pour s'authentifier. Le système d'identification n'étant pas
                | encore implanté, il suffit de rentrer une adresse mail et un mot de passe bidon
                | puis de cliquer sur 'se connecter' pour accéder au tableau de bord.
        section
            h2 Tableau de bord
            p
                | Le tableau de bord comprend un lien permettant de lancer un test rapide,
                | un bouton pour commencer un examen officiel (après avoir spécifié le domaine testé
                | et le nombre de questions souhaité) ainsi qu'un apperçu des résultats.
            p
                | Un lien menant vers une vue détaillée des résultats de chaque examen
                | effectué est également présent.
