doctype html
html(lang='fr')
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href='/')
        img(src='/images/logo.png', alt='WebQuiz Logo', width='200', height='100')
    if nav=="true"
      nav
        a(href='/') Accueil
        a(href='dashboard') Tableau de bord
        a(href='instructions') Instructions
    main
      block content
    footer
      p Lorent CARAVAKU 1864618 - Charles-Henri JEANJEAN 1864901
