extends layout

block content
    h1 Résultats
      section
        h2 HTML
        table
          tr
            td Note
            td Date
            td Heure
          tr
            td 12/20
            td 01/01/2016
            td 14:35:00
          tr
            td 15/20
            td 05/02/2016
            td 19:26:54
      section
        h2 CSS
        table
          tr
            td Note
            td Date
            td Heure
          tr
            td 9/20
            td 05/03/2016
            td 07:17:42
          tr
            td 13/20
            td 16/04/2016
            td 11:46:11
      section
        h2 JavaScript
        table
          tr
            td Note
            td Date
            td Heure
          tr
            td 16/20
            td 20/08/2016
            td 10:06:57
          tr
            td 19/20
            td 12/09/2016
            td 12:40:23